<a href="https://colab.research.google.com/github/e233826/notebook/blob/master/Zarepakzad_forest_fires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [474]:
############################## IMPORTING DATA SET ##################################
####################################################################################

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
fires = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv')
fires_binary =fires.copy()
fires

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
8    8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.00
9    7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.00
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
11   7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
13   6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.00
14   6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.00
15   6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.00
17   8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.00
18   6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.00
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
20   6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.00
21   5  4   sep  mon  91.8   78.5  724.3   9.2  19.1  38   2.7   0.0   0.00
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.00
26   7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.00
27   7  4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0   0.00
28   6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.00
29   6  3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
487  5  4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0  16.40
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
489  4  4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0  43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
495  6  6   aug  mon  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
497  3  4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0  14.68
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0   1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [475]:
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
X        517 non-null int64
Y        517 non-null int64
month    517 non-null object
day      517 non-null object
FFMC     517 non-null float64
DMC      517 non-null float64
DC       517 non-null float64
ISI      517 non-null float64
temp     517 non-null float64
RH       517 non-null int64
wind     517 non-null float64
rain     517 non-null float64
area     517 non-null float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [476]:
################# REPLACING OBJECT ATTRIBUTES WITH INTEGER #########################
####################################################################################

fires.month.replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12),regex=True, inplace=True)
fires.day.replace(('mon','tue','wed','thu','fri','sat','sun'),(1,2,3,4,5,6,7), regex=True,inplace=True)
fires['FFMC'] = fires['FFMC'].astype(np.int64)
fires['DMC'] = fires['DMC'].astype(np.int64)
fires['DC'] = fires['DC'].astype(np.int64)
fires['ISI'] = fires['ISI'].astype(np.int64)
fires['temp'] = fires['temp'].astype(np.int64)
fires['wind'] = fires['wind'].astype(np.int64)
fires['rain'] = fires['rain'].astype(np.int64)
fires_binary =fires.copy()
fires_binary['area'] = fires_binary['area'].astype(np.int64)
fires['area']=np.log10(pd.Series(fires.area)+1)
fires['area'] = fires['area'].astype(np.int64)
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
X        517 non-null int64
Y        517 non-null int64
month    517 non-null int64
day      517 non-null int64
FFMC     517 non-null int64
DMC      517 non-null int64
DC       517 non-null int64
ISI      517 non-null int64
temp     517 non-null int64
RH       517 non-null int64
wind     517 non-null int64
rain     517 non-null int64
area     517 non-null int64
dtypes: int64(13)
memory usage: 52.6 KB

In [0]:
###################### NORMILIZING INTEGER ATTRIBUTES ##############################
####################################################################################
columns_to_normalize = ['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain']
x = fires[columns_to_normalize].values
scaler = preprocessing.StandardScaler()
x_scale = scaler.fit_transform(x)

In [478]:
###################### PREPARING TRAIN AND TEST SETS ###############################
####################################################################################

data = fires
target = data['area']
del data['area']
data = pd.get_dummies(data)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.2)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((413, 12), (104, 12), (413,), (104,))

In [0]:
########### IMPORTING LEARNING/PEFORMANCE EVALUATION LIBRARIES #####################
####################################################################################

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [480]:
############################ a.1. LINEAR REGRESSION: MSE ###########################
####################################################################################

LR = LinearRegression( fit_intercept='False', normalize= 'True')
LR = LR.fit(X_train,Y_train)
predicted_LR = LR.predict(X_test)
mse = metrics.mean_squared_error(Y_test,predicted_LR)
mse

0.21308765636189442

In [481]:
################## a.2. LINEAR REGRESSION: CROSS_VALIDATION #######################
####################################################################################

all_accuracies = cross_val_score(estimator=LR, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

-0.12220684526235799

In [482]:
#################### a.3. LINEAR REGRESSION: GRID SEARCH ###########################
####################################################################################

param_grid = {'fit_intercept':[True,False], 'normalize':[True,False]};
grid = GridSearchCV(LR, param_grid, cv = 3)
grid.fit(X_train, Y_train)
Y_pred_reg = grid.predict(X_test)
grid.best_params_

{'fit_intercept': True, 'normalize': True}

In [483]:
############################ b.1. DECISION TREE:ACCURACY ###########################
####################################################################################

DT = DecisionTreeClassifier(max_depth=4, min_samples_split= 6)
DT = DT.fit(X_train, Y_train)
predicted_DT = DT.predict(X_test)
metrics.accuracy_score(Y_test, predicted_DT)

0.7788461538461539

In [484]:
######################### b.2. DECISION TREE:CROSS-VALIDATION ######################
####################################################################################
import warnings
warnings.filterwarnings('ignore')
all_accuracies = cross_val_score(estimator=DT, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

0.7894528367076159

In [485]:
########################## b.3. DECISION TREE:GRID SEARCH ##########################
####################################################################################

import warnings
warnings.filterwarnings('ignore')
param_grid = {'min_samples_split':np.arange(4,14,2), 'max_depth':np.arange(4,14,2)}
grid = GridSearchCV(DT, param_grid, cv=3, scoring='neg_mean_squared_error')
grid.fit(X_train, Y_train.values.ravel())
y_pred_class = grid.predict(X_test)
grid.best_params_

{'max_depth': 4, 'min_samples_split': 6}

In [486]:
######################## c.1. K-NEAREST NEIGHBOR: ACCURACY  ########################
####################################################################################

KNN = KNeighborsClassifier(n_neighbors= 7, weights= 'uniform')
KNN =KNN.fit(X_train, Y_train)
predicted_KNN = KNN.predict(X_test)
metrics.accuracy_score(Y_test, predicted_KNN)

0.7788461538461539

In [488]:
#################### d.2. K-NEAREST NEIGHBOR: CROSS-VALIDATION  ####################
####################################################################################

all_accuracies = cross_val_score(estimator=KNN, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

0.7990088747416388

In [489]:
###################### d.3. K-NEAREST NEIGHBOR: GRID SEARCH ########################
####################################################################################

param_grid = {'n_neighbors' :np.arange(1,10,2), 'weights':["uniform","distance"]}
grid = GridSearchCV(KNN, param_grid, cv=3)
grid.fit(X_train, Y_train)
grid.best_params_

{'n_neighbors': 7, 'weights': 'uniform'}

In [490]:
######################## THRESHOLD FOR SMALL FIRES #################################
####################################################################################

T= 20
area_binary = []
for n in fires_binary['area']:
    if n >= T and n >= 0:
        area_binary.append("YES")
    else:
        area_binary.append("NO")

fires_binary["small fire"] = area_binary   
fires_binary.head(5)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,small fire
0,7,5,3,5,86,26,94,5,8,51,6,0,0,NO
1,7,4,10,2,90,35,669,6,18,33,0,0,0,NO
2,7,4,10,6,90,43,686,6,14,33,1,0,0,NO
3,8,6,3,5,91,33,77,9,8,97,4,0,0,NO
4,8,6,3,7,89,51,102,9,11,99,1,0,0,NO

In [491]:
####################### PREPARING DATA FOR TRAINING ################################
####################################################################################

data = fires_binary
target = data['small fire']
del data['area']
del data['small fire']
data = pd.get_dummies(data)
fires_binary.head(5)

   X  Y  month  day  FFMC  DMC   DC  ISI  temp  RH  wind  rain
0  7  5      3    5    86   26   94    5     8  51     6     0
1  7  4     10    2    90   35  669    6    18  33     0     0
2  7  4     10    6    90   43  686    6    14  33     1     0
3  8  6      3    5    91   33   77    9     8  97     4     0
4  8  6      3    7    89   51  102    9    11  99     1     0

In [492]:
columns_to_normalize = ['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain']
x = fires_binary[columns_to_normalize].values
scaler = preprocessing.StandardScaler()
x_scale = scaler.fit_transform(x)
fires_binary.head(5)

   X  Y  month  day  FFMC  DMC   DC  ISI  temp  RH  wind  rain
0  7  5      3    5    86   26   94    5     8  51     6     0
1  7  4     10    2    90   35  669    6    18  33     0     0
2  7  4     10    6    90   43  686    6    14  33     1     0
3  8  6      3    5    91   33   77    9     8  97     4     0
4  8  6      3    7    89   51  102    9    11  99     1     0

In [493]:
###################### PREPARING TRAIN AND TEST SETS ###############################
####################################################################################

X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.2)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((413, 12), (104, 12), (413,), (104,))

In [0]:
########### IMPORTING LEARNING/PEFORMANCE EVALUATION LIBRARIES #####################
####################################################################################

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [495]:
#################### THRESHOLD. LOGISTIC REGRESSION:ACCURACY #######################
####################################################################################

LR = LogisticRegression(solver = 'lbfgs', max_iter=10000, C =0.81)
LR = LR.fit(X_train,Y_train)
predicted_LR = LR.predict(X_test)
metrics.accuracy_score(Y_test, predicted_LR)

0.875

In [496]:
#################### THRESHOLD. DECISION TREE:ACCURACY #############################
####################################################################################

DT = DecisionTreeClassifier(max_depth=10, min_samples_split= 12)
DT = DT.fit(X_train, Y_train)
predicted_DT = DT.predict(X_test)
metrics.accuracy_score(Y_test, predicted_DT)

0.8365384615384616

In [497]:
################ THRESHOLD. K-NEAREST NEIGHBOR: ACCURACY  ##########################
####################################################################################

KNN = KNeighborsClassifier(n_neighbors= 7, weights= 'uniform')
KNN =KNN.fit(X_train, Y_train)
predicted_KNN = KNN.predict(X_test)
metrics.accuracy_score(Y_test, predicted_KNN)

0.875